argcomplete
attrs
blinker
certifi
cffi
charset-normalizer
click
contourpy
cryptography
cycler
filelock
Flask
fonttools
gmpy2
idna
itsdangerous
Jinja2
joblib
kiwisolver
llvmlite
MarkupSafe
matplotlib
more-itertools
mpmath
networkx
numba
numpy
openai-whisper
packaging
pandas
pexpect
pillow
platformdirs
pooch
psutil
ptyprocess
pwquality
pybind11
pycairo
pycparser
pycups
pygdbmi
PyGObject
pyinotify
pyparsing
python-dateutil
python-pam
pytz
PyYAML
regex
requests
scikit-learn
scipy
sentry-sdk
setproctitle
six
smbus
sympy
TBB
threadpoolctl
tiktoken
tinycss2
torch
tqdm
typing_extensions
urllib3
webencodings
Werkzeug
wheel